#map {
		width: 100%;
		height: 400px;
		background-color: grey;
	}
	table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    cursor: pointer;
}

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/

.selected {
    background-color: #4169E1;
}

.dinh-vi {
    margin-top: 10px;
}

.tim-xe {
    margin-top: 10px;
}

#btn-app-control {
    display: none;
}